/**
 * @brief StudioPressCSS3, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 * @original WP theme: https://www.dailyblogtips.com/wordpress-themes
 * @copyright https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

/* orange */

/* Reset Defaults Starts */
a {
  color: #ca5e1b;
}
a:hover {
  color: #edb379;
}
blockquote {
  background-color: #E9E9E9;
  border: 1px solid #3F693F;
}

/* Reset Defaults Ends */
body {
  background: #656565 url(../../images/orange/bgbody.jpg) repeat-x top left;
}
#searchbutton {
  background: #ca5e1b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ca5e1b 0%, #edb379 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca5e1b), color-stop(100%,#edb379)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ca5e1b 0%,#edb379 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5e1b', endColorstr='#edb379',GradientType=0 ); /* IE6-8 */
}
#underheader h1 a:hover {
  color: #edb379;
}
#underheader .sitedesc {
  color: #ca5e1b;
}
#underheader #toprss {
  background: transparent url(../../images/orange/rssbig.png) right top no-repeat;
  text-align:left;
}
#prelude a:hover, #underheader #toprss a:hover {
  color: #FFF8E5;
}

/* Main content */
.postMeta {
	border-bottom: 1px dashed #ca5e1b;
}
.navigation {
  color: #406E8D;
}

/* Start of sidebar */
#welcome a {
  color: #DE9952;
}
#welcome p {
  background: url(../../images/orange/welcome.gif) left top no-repeat;
}

/* Sidebar 2 columns widget-ready */
.sidebarsB h2 {
  background: #ca5e1b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ca5e1b 0%, #edb379 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca5e1b), color-stop(100%,#edb379)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ca5e1b 0%,#edb379 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5e1b', endColorstr='#edb379',GradientType=0 ); /* IE6-8 */
}
.sidebarsB li {
  background: url(../../images/orange/bullet.gif) left 6px no-repeat;
}
.sidebarsB a {
}
.sidebarsB a:hover {
  color: #D47414;
}

/* Footer */
#footer a {
  color: #edb379;
}

/* html par defaut pour les billets */
pre { background : #FFF8E5;}

#comments dd.me { color : #000; background-color:#FFF8E5;}
.field input { background : #FFF8E5;}
.field textarea {background : #FFF8E5;}

.form-help { color : #ca5e1b; }
.dc-category #subcategories li {
  background: url(../../images/orange/bullet.gif) left 6px no-repeat;
}

/* menus */
/* simplemenu */
#supranav li {
  background: #ca5e1b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ca5e1b 0%, #edb379 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca5e1b), color-stop(100%,#edb379)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ca5e1b 0%,#edb379 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5e1b', endColorstr='#edb379',GradientType=0 ); /* IE6-8 */
}
#supranav li.active a {
  color: #ca5e1b;
}
#supranav li a:hover {
  color: #ca5e1b;
}

/* MenuFreshy */
#nav li {
  background: #ca5e1b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ca5e1b 0%, #edb379 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca5e1b), color-stop(100%,#edb379)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ca5e1b 0%,#edb379 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ca5e1b 0%,#edb379 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5e1b', endColorstr='#edb379',GradientType=0 ); /* IE6-8 */
}
#nav li a:hover {
  color: #ca5e1b;
}
#nav li.current_page_item a {
  color: #ca5e1b;
}

.dc-archive .post-content ul li {
  background: url(../../images/orange/bullet.gif) left 8px no-repeat;
}