/**
 * @brief StudioPressCSS3, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 * @original WP theme: https://www.dailyblogtips.com/wordpress-themes
 * @copyright https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

#nav {display:none;}

/* SimpleMenu */
#top {padding-bottom:11px;}
#navsm {
  clear: both;
  margin: 0;
  padding: 0;
}

#supranav {
  margin: 0;
  padding: 0;
  background:none;
}
#supranav li {
  display: block;
  height: 26px;
  text-transform: lowercase;
  font-size: 10pt;
  text-decoration: none;
	float: left;
	margin-right:10px;
  border-radius: 5px 5px 0 0;
}
  
* html #nav li { /* Filter for IE6 to prevent li stacking */
  float: left;
  text-decoration: none;
}
* html #nav li a { /* Filter for IE6 to prevent li stacking */
  float: left;
  margin-left: 4px;
  text-decoration: none;
}
#supranav li a {
  display: block;
  margin-left: 6px;
  padding-left: 5px;
  padding-right: 12px;
  line-height: 26px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}
#supranav li.active {
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%); /* W3C */
}
#supranav li:hover {
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%); /* W3C */
}